name: Build

on:
  push:
    branches: [ "*" ]
    tags: [ "*" ]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: stable
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.5
          working-directory: agent

  build:
    name: "Build (${{ matrix.os }}/${{ matrix.arch }})"
    strategy:
      matrix:
        include:
        - { runner: 'ubuntu-24.04', os: linux, arch: amd64 }
        - { runner: 'ubuntu-24.04-arm', os: 'linux', arch: 'arm64' }
    runs-on: ${{ matrix.runner }}

    defaults:
      run:
        shell: bash

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'
        cache-dependency-path: ./agent/go.sum

    - name: Set Environment Variables
      run: |
        echo "BINARY_NAME=simob-${{ matrix.os }}-${{ matrix.arch }}" >> $GITHUB_ENV
        echo "VERSION=${{ github.ref_name }}" >> $GITHUB_ENV
        echo "Go version used: $(go version)"

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y libsystemd-dev
        go mod download
      working-directory: ./agent

    - name: Build agent binaries
      run: |
        echo "Building version: ${{ env.VERSION }}"
        echo "Output binary name: ${{ env.BINARY_NAME }}"
        # Debug
        echo "Building debug binaries..."
        GOOS=${{ matrix.os }} GOARCH=${{ matrix.arch }} go build \
          -cover \
          -gcflags="all=-N -l" \
          -ldflags "-X 'agent/internal/version.Version=${{ env.VERSION }}.debug'" \
          -o ../${{ env.BINARY_NAME }}-debug \
          main.go
        # Production
        echo "Building production binaries..."
        GOOS=${{ matrix.os }} GOARCH=${{ matrix.arch }} go build \
          -ldflags "-s -w -X 'agent/internal/version.Version=${{ env.VERSION }}'" \
          -o ../${{ env.BINARY_NAME }} \
          main.go
      working-directory: ./agent

    - name: Upload artifact (${{ matrix.os }} ${{ matrix.arch }})
      uses: actions/upload-artifact@v4
      with:
        name: preview-${{ matrix.os }}-${{ matrix.arch }}
        path: |
          ./${{ env.BINARY_NAME }}
          ./${{ env.BINARY_NAME }}-debug
          install.sh
        if-no-files-found: error

  install-and-run:
    name: Test (${{ matrix.os }}/${{ matrix.arch }})
    needs: build
    strategy:
      matrix:
        include:
          - { runner: 'ubuntu-24.04', os: 'linux', arch: 'amd64' }
          - { runner: 'ubuntu-24.04-arm', os: 'linux', arch: 'arm64' }
    runs-on: ${{ matrix.runner }}

    steps:
    - name: Download agent artifact
      uses: actions/download-artifact@v4
      with:
        name: preview-${{ matrix.os }}-${{ matrix.arch }}

    - name: List downloaded files
      run: ls -l

    - name: Set Environment Variables
      run: |
        echo "BINARY_NAME=simob-${{ matrix.os }}-${{ matrix.arch }}" >> $GITHUB_ENV

    - name: Run install script
      run: |
        sudo BINARY_PATH="${{ env.BINARY_NAME }}-debug" SKIP_TELEMETRY=1 bash install.sh dummy-api-key --skip-key-check -- --dry-run
        sudo systemctl stop simob.service

    - name: Prepare code coverage directory
      run: |
        sudo mkdir -p /tmp/coverage_data
        sudo chmod 777 /tmp/coverage_data

    - name: Run agent (simob version)
      run: sudo -u simob-agent env DEBUG=1 simob version

    - name: Run agent (simob config)
      run: sudo -u simob-agent env DEBUG=1 simob config

    - name: Run agent (simob start)
      run: sudo -u simob-agent env DEBUG=1 GOCOVERDIR=/tmp/coverage_data simob start --dry-run

    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Generate coverage report
      if: ${{ matrix.arch == 'amd64' }}
      run: |
        sudo chown -R $USER:$USER /tmp/coverage_data
        cd agent

        echo "Generating coverage reports..."
        go tool covdata textfmt -i=/tmp/coverage_data -o coverage.txt
        echo "=========================================="
        echo " Go Coverage Report by Package (Sorted)"
        echo "=========================================="
        go tool covdata percent -i=/tmp/coverage_data | awk '
        {
            pkg = $1;
            coverage = $3;
            printf "%-50s %s\n", pkg, coverage;
        }' | sort -k 2 -r -n
        echo "=========================================="
        echo "      Go Total Coverage (Statements)"
        echo "=========================================="
        go tool cover -func=coverage.txt | grep total

  create-release:
    name: Create GitHub Release
    needs: install-and-run
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Download all agent artifacts
      uses: actions/download-artifact@v4
      with:
        path: artifacts

    - name: Generate checksums
      run: |
        cd artifacts
        mv preview-*/simob-* .
        shasum -a 256 simob-* > checksums
        cat checksums

    - name: Create GitHub Release
      if: github.event_name == 'push' && github.ref_type == 'tag'
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ github.ref_name }}
        name: Release ${{ github.ref_name }}
        files: |
          artifacts/preview-linux-amd64/install.sh
          artifacts/checksums
          artifacts/simob-linux-amd64
          artifacts/simob-linux-arm64
