name: Build

on:
  push:
    branches: [ "*" ]
    tags: [ "*" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    strategy:
      matrix:
        include:
        # Linux build on Ubuntu runner
        - runner: ubuntu-latest
          os: linux
          arch: amd64
    runs-on: ${{ matrix.runner }}

    defaults:
      run:
        shell: bash

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'
        cache-dependency-path: ./agent/go.sum

    - name: Set Environment Variables
      run: |
        echo "BINARY_NAME=simob-${{matrix.os}}-${{ matrix.arch }}" >> $GITHUB_ENV
        echo "VERSION=${{ github.ref_name }}" >> $GITHUB_ENV
        echo "Go version used: $(go version)"

    - name: Install dependencies
      run: go mod download
      working-directory: ./agent

    - name: Build agent binary
      run: |
        echo "Building version: ${{ env.VERSION }}"
        echo "Output binary name: ../${{ env.BINARY_NAME }}"
        go build -ldflags "-X 'agent/internal/version.Version=${{ env.VERSION }}'" -o ../${{ env.BINARY_NAME }} main.go
      working-directory: ./agent

    - name: Check agent version
      run: ./${{ env.BINARY_NAME }} version

    - name: Run install script
      run: sudo BINARY_PATH="${{ env.BINARY_NAME }}" bash install.sh dummy-api-key --dry-run

    - name: Run agent
      run: |
        newgrp simob-admins
        ls -l /opt/simob/
        DEBUG=1 simob version
        DEBUG=1 simob config
        DEBUG=1 simob start --dry-run

    - name: Upload dev branch artifacts
      if: github.ref_name == 'dev'
      uses: actions/upload-artifact@v4
      with:
        name: preview-build-${{ github.sha }}
        path: |
          ${{ env.BINARY_NAME }}
          install.sh

    - name: Create GitHub Release
      if: github.ref_type == 'tag'
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ github.ref_name }}
        name: Release ${{ github.ref_name }}
        files: |
          ${{ env.BINARY_NAME }}
          install.sh
