name: Build

on:
  push:
    branches: [ "*" ]
    tags: [ "*" ]

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: stable
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.1

  build:
    name: "Build (${{ matrix.os }}/${{ matrix.arch }})"
    strategy:
      matrix:
        include:
        - { os: linux, arch: amd64 }
        - { os: linux, arch: arm64 }
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'
        cache-dependency-path: ./agent/go.sum

    - name: Set Environment Variables
      run: |
        echo "BINARY_NAME=simob-${{ matrix.os }}-${{ matrix.arch }}" >> $GITHUB_ENV
        echo "VERSION=${{ github.ref_name }}" >> $GITHUB_ENV
        echo "Go version used: $(go version)"

    - name: Install dependencies
      run: go mod download
      working-directory: ./agent

    - name: Build agent binary
      run: |
        echo "Building version: ${{ env.VERSION }}"
        echo "Output binary name: ${{ env.BINARY_NAME }}"
        GOOS=${{ matrix.os }} GOARCH=${{ matrix.arch }} go build -ldflags "-X 'agent/internal/version.Version=${{ env.VERSION }}'" -o ../${{ env.BINARY_NAME }} main.go
      working-directory: ./agent

    - name: Upload artifact (${{ matrix.os }} ${{ matrix.arch }})
      uses: actions/upload-artifact@v4
      with:
        name: preview-${{ matrix.os }}-${{ matrix.arch }}
        path: |
          ./${{ env.BINARY_NAME }}
          install.sh
        if-no-files-found: error

  install-and-run:
    name: Test (${{ matrix.os }}/${{ matrix.arch }})
    needs: build
    strategy:
      matrix:
        include:
          - { runner: 'ubuntu-24.04', os: 'linux', arch: 'amd64' }
          - { runner: 'ubuntu-24.04-arm', os: 'linux', arch: 'arm64' }
    runs-on: ${{ matrix.runner }}

    steps:
    - name: Download agent artifact
      uses: actions/download-artifact@v4
      with:
        name: preview-${{ matrix.os }}-${{ matrix.arch }}

    - name: List downloaded files
      run: ls -l

    - name: Set Environment Variables
      run: |
        echo "BINARY_NAME=simob-${{ matrix.os }}-${{ matrix.arch }}" >> $GITHUB_ENV
        echo "VERSION=${{ github.ref_name }}" >> $GITHUB_ENV
        echo "Go version used: $(go version)"

    - name: Run install script
      run: sudo BINARY_PATH="${{ env.BINARY_NAME }}" bash install.sh dummy-api-key --dry-run

    - name: Run agent
      run: |
        sudo -u simob-agent env DEBUG=1 simob version
        sudo -u simob-agent env DEBUG=1 simob init --dry-run
        sudo -u simob-agent env DEBUG=1 simob config
        sudo -u simob-agent env DEBUG=1 simob start --dry-run

  create-release:
    name: Create GitHub Release
    needs: install-and-run
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref_type == 'tag'
    permissions:
      contents: write

    steps:
    - name: Download all agent artifacts
      uses: actions/download-artifact@v4
      with:
        path: artifacts

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ github.ref_name }}
        name: Release ${{ github.ref_name }}
        files: |
          artifacts/preview-linux-amd64/install.sh
          artifacts/preview-linux-amd64/simob-linux-amd64
          artifacts/preview-linux-arm64/simob-linux-arm64
